@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --background-element: #18181b;
  --background-element-light: #23232a;

  --foreground: #fff;
  --foreground-secondary: #8d929c;

  --border: #27272a;
}

@theme inline {
  --color-background: var(--background);
  --color-background-element: var(--background-element);
  --color-background-element-light: var(--background-element-light);

  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);

  --color-border: var(--border);

  --font-sans: var(--font-bricolage);
  --font-display: var(--font-jersey);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply font-sans;
}
